.input-wrapper {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 7px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.text {
    width: 400px;
}

