
nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    top: -10px;
    width: 1550px;
    padding: 20px 80px;
    position: relative;
    background: #1b2430;
    z-index: 1;
}


.logo {
    display:flex;
    justify-content: space-between;
    width: 50px;
    height: 50px;
    
    position: relative;
    top: 3px;
    left: 20px;


}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;

}

#navbar li a:hover {
    color:#17cf97;
}

#navbar li a:hover::after {
    content: "";
    width: 30%;
    height:2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

.cart {
    cursor: pointer;
}

.cart :hover {
    color:#17cf97;
    transition: 0.3s ease-in-out;
}

.cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    font-size: 18px;
    background: red;
    color: white;
    margin-top: -20px;
    margin-right: -33px;
}    

#mobile {
    display: none;
}

#mobile i{
    color: #ffffff;
}

@media screen and (max-width: 950px) {
    /*add overflow-y: scroll; to page so when navbar is clicked you cant move up and down*/
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;/*absolute? */
        margin-top: -25px;/*for box in mobile view */
        top: 90px;
        right: -1800px;
        width: 180px;
        height: 100vh;
        background: #2a3239;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.8s ease-in-out;
        
}

#navbar.active {
    right: 0px;
}

#navbar li{
    margin-bottom: 25px;
}


#mobile {
    display: block;
    
}

#mobile i{
    font-size: 24px;
    cursor: pointer;
}



}

